.link {
  color: $dark-grey;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: darken($color: $button-active-blue, $amount: 20);

  &:hover {
    color: darken($color: $button-active-blue, $amount: 25);
    text-decoration: underline;
  }
}
